<br/>
<div class="aboutdiv">
<div class="servicediv1">
 <h2> The Journey & The Destination</h2>

<p>S&K is a pilgrimage to many who come to marvel over such an enormous inventory and,
of course, to buy, trade and sell. However, they also come to see the product of twenty-five years
 of collecting vintage instruments, S&K’s personal collection, which is open to the public to
 view. This ever-expanding collection includes over 300 vintage guitars and approximately 100 amps,
 and it features a stunning array of custom color Fender Stratocasters, Black Guard Telecasters,
 dot-neck Gibson 335s and so much more. For instance, the collection includes a 1959 flame topped Gibson Les Paul,
 a very rare find, for which current market value is somewhere between $300,000 to $500,000.</p>



</div>

<div class="aboutimageholder1"><img src="images/11.jpg"></div>


<div class="servicediv">

    <h2>Great Service & Loyal Customers</h2>

    <p>In earlier days, the shop relied on a loyal local customer base and the bulk mailing of large quantities of monthly fliers to
     advertise the shop’s inventory. That all changed with the dawn of the Internet, the availability of personal computers and
     web sites. Although local loyalty is still an integral part of the success of DGS, the business has gone global with Internet
     and telephone sales making up approximately 70% of total sales. The days of licking stamps have been replaced by the
     simple click of a mouse. New inventory is updated daily, including high-resolution color photos of each new instrument or
     amp. All this can be found at www.davesguitar.com.</p>


    <p>Dave’s Guitar Shop is a dealer of scores of product lines including Fender, Gibson, PRS, Hamer, Rickenbacker, Gretsch,
    Ibanez, G&L, Victoria, Vox, Peavy, Matchless, Crate, Savage, Ultrasound, Martin, McPherson, Larrivee, Taylor, Guild,
    Ovation, Alvarez, Washburn and more! Prices range from $100 to $35,000, which means there is something for everyone
    and every level…from beginner to collector. Some manufacturers, such as Fender, PRS and Taylor even made custom
    runs of twenty-five guitars for the store’s twenty-fifth anniversary.</p>


    <p>In November of 2007, guitar innovator Paul Reed Smith visited the shop to help celebrate its silver anniversary. After an
    exciting day of questions and answers, receiving lines, autographs and handshakes, he presented Dave Rogers with a
    very special gift…a PRS one-of-a-kind guitar that he had personally made.</p>


    <p>Today, Dave’s Guitar Shop is a bustling retail hub, staffed with over a dozen dedicated employees, technicians
    and sales consultants. Ever present within the walls is Dave himself, the life and blood of the shop, always willing to talk
     guitars, always willing to say thanks to a customer. It was his vision and passion for guitars that brought DGS to the present
     and it’s his vision that will see it through the next twenty-five years. Dave’s Guitar Shop invites you to come and see…
     and be…part of its history.</p>
</div>

<div class="aboutimageholder"><img src="images/12.jpg"></div>
<div>
    <div class="promopic1"><img src="images/13.jpg"></div>
    <div class="promopic2"><img src="images/14.jpg"></div>
    <div class="promopic3"><img src="images/15.jpg"></div>
    <div class="promopic4"><img src="images/16.jpg"></div>
    <div class="promopic5"><img src="images/17.jpg"></div>

</div>
</div>
<br/>